<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.will.mvvm.base">

    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity
            android:name="com.will.mvvm.base.ContainerActivity"
            android:configChanges="orientation|keyboardHidden"></activity>

    </application>

</manifest>
